h1 {
  text-align: center;
  color:#eca1a6; 
  font-family: "Georgia", Serif;
  background-color:#d5e1df;
}

/*img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  background-color:#ada397;
}
*/
p {
  text-align: center;
  color:Indigo;
  background-color:;
}

body {
  background-color:;
}